<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Listagem de livros </h1>

        <table>
            <tr>
                <td>ID</td>
                <td>Título</td>
            </tr>
                <tr for(element in data.livros)>
                <td>${element.id}</td>
                <td>${element.title}</td>
            </tr>
        </table> 
    </body> 
</html>